@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
    background-color: rgb(177, 74, 67) !important;
}

.navbar {
    background-color: rgb(159,53,44);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}

.home-link:hover {
    text-decoration: underline; /* underline when hovering over the text or image */
}

.home-image {
    width: 75px; /* adjust as needed */
    height: auto;
}

.center-content {
    text-align: center; /* Center-aligns all content within this div */
    margin: 20px; /* Adds margin around the content */
}

.center-image {
    width: 250px; /* Sets the width of the image */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-bottom: 10px; /* Space between the image and the text */
}

.welcome-text {
    color: white; /* Sets text color */
    font-size: 24px; /* Sets text size */
    padding: 0 20px; /* Adds padding on the sides of the text */
}

.button-container {
    margin: 20px 0; /* Adds vertical space around the buttons */
}

.button {
    padding: 10px 20px;
    background-color: #480101; /* Consistent with your navbar button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px; /* Adds space between the buttons */
}

.big-button {
    padding: 10px 20px;
    background-color: #480101; /* Consistent with your navbar button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px; /* Adds space between the buttons */
    font-size: 36px; /* Sets text size */
}

.big-button-container {
    margin: 75px 0; /* Adds vertical space around the buttons */
}

.button:hover {
    color: white;
    background-color: #730808; /* Darker on hover */
}

.big-image {
    width: 1000px; /* Sets the width of the image */
    height: auto; /* Maintains the aspect ratio of the image */
    margin-bottom: 10px; /* Space between the image and the text */
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.tone-description p {
    color: white;
    font-size: 1.2em; /* Adjust the size as needed */
    margin-bottom: 30px; /* Space between text and word items */
}

.words-images-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; /* Space between words and the summary button */
}

.word-item {
    text-align: center;
}

.word {
    background-color: #d9534f; /* The color from your navbar CSS */
    color: white;
    padding: 10px;
    margin-bottom: 10px; /* Space between the word and the image */
    display: inline-block;
    border-radius: 5px; /* Optional: if you want rounded corners */
}

.word-image {
    width: 150px; /* Adjust width as necessary */
    height: auto;
    margin-bottom: 10px;
}

.top-of-page-image-container {
    text-align: center; /* Center the image container */
    margin-bottom: 20px; /* Space between the image and the tone description */
}

.top-of-page-image {
    width: 20%; /* Adjust the width as desired - this will make the image smaller */
    height: auto; /* Keeps the aspect ratio intact */
    display: block; /* Ensures that the image is block-level for margins to work */
    margin: 0 auto; /* Centers the image horizontally */
}

