<nav>
    <div class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('index') }}" class="home-link">
                <img src="https://lh3.googleusercontent.com/u/2/drive-viewer/AKGpihaR-mtSdOFOpZl7gs9s6jdTJ4FFfmNjSn41W8e-Bn4gTb1qaY_UjEzTiEwpplI2MxbEp6izR8QlC4DzRKmpnqNq_ZID8Lm58To=w1023-h1040-rw-v1" class="home-image">
                4 Chinese Tones
            </a>
            <a href="{{ url_for('intro') }}">Introduction</a>
            <a href="{{ url_for('learn', lesson_id=1) }}">Flat Tone</a>
            <a href="{{ url_for('learn', lesson_id=2) }}">Rising Tone</a>
            <a href="{{ url_for('learn', lesson_id=3) }}">Dip Tone</a>
            <a href="{{ url_for('learn', lesson_id=4) }}">Descending Tone</a>
        </div>
        <div class="navbar-right">
            <a href="{{ url_for('quiz_intro') }}" class="button">Quiz Yourself</a>
        </div>
    </div>
</nav>
